In [8]:
import pandas as pd

In [9]:
people: dict = {
        "firstName": ["Corey", "Jane", "John", "Ahmet"],
        "lastName": ["Schafer", "Doe", "Doe", "Stone"],
        "emailAdress": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com", "ahmeetfurkaan@gmail.com"],
}

In [10]:
df = pd.read_csv(r"data\survey_results_public.csv", index_col="Respondent")
schemaDf = pd.read_csv(r"data\survey_results_schema.csv", index_col="Column")

In [11]:
dfLittle = pd.DataFrame(people)

In [12]:
dfLittle

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com
3     Ahmet    Stone  ahmeetfurkaan@gmail.com

In [13]:
dfLittle["firstName"] + " " + dfLittle["lastName"]

0    Corey Schafer
1         Jane Doe
2         John Doe
3      Ahmet Stone
dtype: object

In [14]:
dfLittle["fullName"] = dfLittle["firstName"] + " " + dfLittle["lastName"]

In [17]:
dfLittle.drop(columns=["firstName", "lastName"])

               emailAdress       fullName
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@email.com       Jane Doe
2        JohnDoe@email.com       John Doe
3  ahmeetfurkaan@gmail.com    Ahmet Stone

In [18]:
dfLittle.drop(columns=["firstName", "lastName"], inplace=True)

In [19]:
dfLittle

               emailAdress       fullName
0  CoreyMSchafer@gmail.com  Corey Schafer
1        JaneDoe@email.com       Jane Doe
2        JohnDoe@email.com       John Doe
3  ahmeetfurkaan@gmail.com    Ahmet Stone

In [21]:
dfLittle["fullName"].str.split(" ")

0    [Corey, Schafer]
1         [Jane, Doe]
2         [John, Doe]
3      [Ahmet, Stone]
Name: fullName, dtype: object

In [22]:
dfLittle["fullName"].str.split(" ", expand=True)

       0        1
0  Corey  Schafer
1   Jane      Doe
2   John      Doe
3  Ahmet    Stone

In [23]:
dfLittle[["firstName", "lastName"]] = dfLittle["fullName"].str.split(" ", expand=True)

In [24]:
dfLittle

               emailAdress       fullName firstName lastName
0  CoreyMSchafer@gmail.com  Corey Schafer     Corey  Schafer
1        JaneDoe@email.com       Jane Doe      Jane      Doe
2        JohnDoe@email.com       John Doe      John      Doe
3  ahmeetfurkaan@gmail.com    Ahmet Stone     Ahmet    Stone