In [2]:
import pandas as pd

In [1]:
people: dict = {
        "firstName": ["Corey", "Jane", "John", "Ahmet"],
        "lastName": ["Schafer", "Doe", "Doe", "Stone"],
        "emailAdress": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com", "ahmeetfurkaan@gmail.com"],
}

In [3]:
df = pd.read_csv(r"data\survey_results_public.csv", index_col="Respondent")
schemaDf = pd.read_csv(r"data\survey_results_schema.csv", index_col="Column")

In [4]:
dfLittle = pd.DataFrame(people)

In [5]:
dfLittle

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com
3     Ahmet    Stone  ahmeetfurkaan@gmail.com