In [1]:
people: dict = {
        "firstName": ["Corey", "Jane", "John"],
        "lastName": ["Schafer", "Doe", "Doe"],
        "emailAdress": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"],
}

In [2]:
people["emailAdress"]

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(data=people)
df

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [5]:
df["emailAdress"]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: emailAdress, dtype: object

In [7]:
df.emailAdress
# dot notation may not be the best practise.

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: emailAdress, dtype: object

In [8]:
type(df["emailAdress"])

pandas.core.series.Series

In [9]:
type(df.emailAdress)

pandas.core.series.Series

In [10]:
df[["lastName", "emailAdress"]]

  lastName              emailAdress
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [11]:
type(df[["lastName", "emailAdress"]])

pandas.core.frame.DataFrame

In [12]:
df.columns

Index(['firstName', 'lastName', 'emailAdress'], dtype='object')

In [14]:
df.columns[0]

'firstName'

In [16]:
# integer location

df.iloc[0]
# returns the first row

firstName                        Corey
lastName                       Schafer
emailAdress    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [18]:
df.iloc[[0, 1]]

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com

In [19]:
df.iloc[[0, 1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: emailAdress, dtype: object

In [20]:
df.loc[0]

firstName                        Corey
lastName                       Schafer
emailAdress    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [21]:
df.loc[[0, 1]]

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com

In [22]:
df.loc[[0, 1], "emailAdress"]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: emailAdress, dtype: object

In [23]:
df.loc[[0, 1], ["emailAdress", "lastName"]]

               emailAdress lastName
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

In [25]:
dfFromData = pd.read_csv(r"data\survey_results_public.csv")

In [26]:
dfFromData.shape

(88883, 85)

In [27]:
dfFromData.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [30]:
dfFromData["Hobbyist"]

0        Yes
1         No
2        Yes
3         No
4        Yes
        ...
88878    Yes
88879     No
88880     No
88881     No
88882    Yes
Name: Hobbyist, Length: 88883, dtype: object

In [34]:
dfFromData["Hobbyist"].value_counts()

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [42]:
df.loc[0]

Respondent                                                      1
MainBranch                 I am a student who is learning to code
Hobbyist                                                      Yes
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                                                     NaN
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                             Neither easy nor difficult
Name: 0, Length: 85, dtype: object

In [47]:
dfFromData.loc[0, "Hobbyist"]

'Yes'

In [46]:
dfFromData.loc[[0, 1, 2], "Hobbyist"]

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [45]:
dfFromData.loc[:2, "Hobbyist"]

0    Yes
1     No
2    Yes
Name: Hobbyist, dtype: object

In [49]:
df.loc[:2, "Hobbyist":"Employment"]

,Hobbyist,OpenSourcer,OpenSource,Employment
0,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work"
1,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work"
2,Yes,Never,The quality of OSS and closed source software ...,Employed full-time