In [88]:
people: dict = {
        "firstName": ["Corey", "Jane", "John"],
        "lastName": ["Schafer", "Doe", "Doe"],
        "emailAdress": ["CoreyMSchafer@gmail.com", "JaneDoe@email.com", "JohnDoe@email.com"],
}

In [89]:
import pandas as pd

In [90]:
df = pd.DataFrame(people)

In [91]:
df

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [92]:
df.columns

Index(['firstName', 'lastName', 'emailAdress'], dtype='object')

In [93]:
df.columns = ["first_name", "last_name", "email_adress"]

In [94]:
df.columns

Index(['first_name', 'last_name', 'email_adress'], dtype='object')

In [95]:
df

  first_name last_name             email_adress
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [96]:
df.columns = [x.upper() for x in df.columns]

In [97]:
df

  FIRST_NAME LAST_NAME             EMAIL_ADRESS
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [98]:
df.columns = df.columns.str.replace("_", " ")

In [99]:
df

  FIRST NAME LAST NAME             EMAIL ADRESS
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [100]:
df.columns = df.columns.str.replace(" ", "_")

In [101]:
df

  FIRST_NAME LAST_NAME             EMAIL_ADRESS
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [102]:
df.rename(columns={"FIRST_NAME": "firstName", "LAST_NAME": "lastName", "EMAIL_ADRESS": "emailAdress"})

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [103]:
df

  FIRST_NAME LAST_NAME             EMAIL_ADRESS
0      Corey   Schafer  CoreyMSchafer@gmail.com
1       Jane       Doe        JaneDoe@email.com
2       John       Doe        JohnDoe@email.com

In [104]:
df.rename(columns={"FIRST_NAME": "firstName", "LAST_NAME": "lastName", "EMAIL_ADRESS": "emailAdress"}, inplace=True)

In [105]:
df

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [106]:
df.loc[2]

firstName                   John
lastName                     Doe
emailAdress    JohnDoe@email.com
Name: 2, dtype: object

In [107]:
df.loc[2] = ["John", "Smith", "johnSmith@email.com"]

In [108]:
df

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John    Smith      johnSmith@email.com

In [109]:
df.loc[2, ["lastName", "emailAdress"]]

lastName                     Smith
emailAdress    johnSmith@email.com
Name: 2, dtype: object

In [110]:
df.loc[2, ["lastName", "emailAdress"]] = ["Doe", "JohnDoe@email.com"]

In [111]:
df

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [112]:
df.loc[2, "lastName"] = "Smith"

In [113]:
df

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John    Smith        JohnDoe@email.com

In [114]:
df.at[2, "lastName"] = "Doe"  # For single row and column use!

In [115]:
df

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [116]:
filt = (df["emailAdress"] == "JohnDoe@email.com")

In [117]:
df[filt]

  firstName lastName        emailAdress
2      John      Doe  JohnDoe@email.com

In [118]:
df[filt]["lastName"]

2    Doe
Name: lastName, dtype: object

In [119]:
# df[filt]["lastName"] = "Smith"  # This will generate error
# when setting values use .loc .iloc or .at

In [120]:
df

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John      Doe        JohnDoe@email.com

In [121]:
df.loc[filt, "lastName"] = "Smith" # use this because other one will generate error

In [122]:
df

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John    Smith        JohnDoe@email.com

In [123]:
df["emailAdress"].str.lower()

0    coreymschafer@gmail.com
1          janedoe@email.com
2          johndoe@email.com
Name: emailAdress, dtype: object

In [124]:
df

  firstName lastName              emailAdress
0     Corey  Schafer  CoreyMSchafer@gmail.com
1      Jane      Doe        JaneDoe@email.com
2      John    Smith        JohnDoe@email.com

In [125]:
df["emailAdress"] = df["emailAdress"].str.lower()

In [126]:
df

  firstName lastName              emailAdress
0     Corey  Schafer  coreymschafer@gmail.com
1      Jane      Doe        janedoe@email.com
2      John    Smith        johndoe@email.com

In [127]:
df["emailAdress"].apply(len)

0    23
1    17
2    17
Name: emailAdress, dtype: int64

In [129]:
def updateEmail(email: str) -> str:
    return email.upper()

In [130]:
df["emailAdress"].apply(updateEmail)

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: emailAdress, dtype: object

In [ ]:
df["emailAdress"] = df["emailAdress"].apply(updateEmail)